@model WebStore.ViewModels.Identity.LoginViewModel
@{
    ViewBag.Title = "Отказано в доступе";
}

@*	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				
				<div class="col-sm-4">
					<div  class="signup-form"><!--sign up form-->
						<h2>Отказано в доступе</h2>

					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->*@