<!DOCTYPE html>
<html>
    <head>
        <title>
            Main page
        </title>
    </head>

    <body>
        <h3>
            Title
        </h3>
        <p>
            Hello from first view
        </p>
    </body>
</html>
