<!DOCTYPE html>
<html>
    <head>
        <title>
            Главная
        </title>
    </head>

    <body>
        <h3>
            Заголовок
        </h3>
        <p>
            Привет с главной страницы
        </p>
        <a href="~/home/employees">Список сотрудников</a>
    </body>
</html>
